.container {
    margin: auto;
    max-width: 800px;
}
.block {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 10px 10px 10px rgb(162, 162, 162);
}
